@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Oswald', sans-serif;


}

body{
  background-color: #d5f5e3;
}
.header{
  padding:1.5rem;
  background-color:#2ecc71;
  font-size:30px;
  font-weight:700;
  text-align:center;
 
}
.recipeList{
  position:relative;
  min-height:100vh;
  width:50%;
  padding:5px 0;
}
.recipe{
  box-shadow:0px 3px 2px #999;
  margin:5px 0;
  border-radius:7px;
  color:#333;
}

.recipeName{
  padding:1rem;
  font-size:1.5rem;
}
.recipe-title{
  margin-right:10px;
  font-size:1.3rem;
  font-weight:500;
  
}
.textareaClass{
  font-size:1rem;
  border-radius:10px;
}
.ingredientTitle{
  text-align:center;
}
.recipe-info{
  padding:10px 20px;
  font-size:1.1rem;
  display:flex;
  justify-content:space-between;
  
}
.recipe-instructions{
  margin-top:10px;
  margin-left:10px;
  
}
.recipe-instructions{
  white-space:pre-wrap;
}
.ingredientsList{
  display:grid;
  grid-template-columns:repeat(2,auto);
  row-gap:5px;
  column-gap:40px;
  justify-content: flex-start;
  margin-left:10px;
  margin-top:10px;
}

.btn{
  font-size:inherit;
  background:none;
  border:none;
  outline:none;
  font-weight:bold;
  border-radius:5px;
  padding:5px 20px;
  cursor:pointer;
  text-align: center;
}

.btn button{
  padding:8px 13px;
  margin-left:20px;
  border:0;
  border-radius:9px;
}
.btn button:hover{
  cursor:pointer;
}
.btn-primary{
  color:white;
  background-color:hsl(200,100%,50%);
}
.btn-primary:hover{
  background-color:hsl(200,100%,35%);
}
.btn-danger{
  color:white;
  background-color:hsl(0,100%,50%);
}
.btn-danger:hover{
  background-color:hsl(0,100%,35%);
}
.addRecipe{
  text-align: center;
  margin-top:40px;
  
}
.addRecipe button{
  padding:10px 30px;
  border-radius:9px;
  border:0;
  color:white;
  background-color:hsl(200,100%,50%);
}
.addRecipe button:hover{
  background-color:hsl(200,100%,35%);
  cursor:pointer;
}

.editRecipe{
  width:50%;
  position:absolute;
  right:0;
  top:170px;
}

.editRecipeButton{
  text-align:end;
  font-size:30px;
  margin-right:10px;
 
}
  
.editRecipeButton button{
  background-color:#e6e6e6;
  border-radius:50%;
 
  
}

.editRecipeDetails{
  display:grid;
  grid-template-columns:1fr 2fr;
  padding:20px;
}
.editRecipeDetails label,
.ingredientsLabel{
  font-weight:700;
  font-size:1.2rem;
}
.editRecipeDetails input{
  border-radius:9px;
  padding:5px;
  font-size:1.05rem;
 
}
.recipeEditInput{
  border-radius:7px;
  padding:3px;
  font-size:1.05rem;
}
.editRecipeDetails label,
.editRecipeDetails input{
  margin-bottom:12px;
}
.editRecipeDetails textarea{
  resize:none;
  height:200px;
  padding:5px;
}

.ingredientsGrid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap:10px;
  column-gap:20px;
  margin-left:50px;
  margin-bottom:20px;
  margin-top:10px;
}
.ingredientsGrid div{
  font-size:1.2rem;
  font-weight: 500;
}
.ingredientsGrid input{
  border-radius:7px;
}

.ingredientsLabel{
  padding:20px;
}
.btn-delete-ingredient{
  width:80px;
}
.editRecipeAddIngredient{
  text-align:center;
}
@media(max-width:1000px){
  .editRecipeDetails,
  .ingredientsGrid{
    grid-template-columns:1fr;
  }
}
.searchBar{
  display:flex;
  justify-content: center;
  position:relative;
  margin-top:10px;
  background-color: white;
  border-radius:9px;

}


.searchInput{
  width:100%;
  font-size:21px;
  display:block;
  position:relative;
  padding:10px 30px;
  border-radius:13px;
  border:0;
}
.search-icon{
  position:absolute;
  top:15px;
  left:5px;
  z-index:100;
}

.recipeName{
  text-align:center;
  
}

